.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 240px;
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    padding: 24px;
    flex: 1;
    overflow-y: auto;
}
